{% extends "base.html" %}

{% block content %}
  <h2>About Me</h2>
  <p>👋 Hello! I'm Siddharth — a passionate traveler and developer.</p>
  <p>Hey there! I'm Siddharth, a 27-year-old former corporate warrior who decided to ditch the 9-to-5 grind and embark on an adventure of a lifetime. After years of hustling in a high-pressure job, I realized that life is too short to be stuck in an office, staring at spreadsheets all day.


So I took a leap of faith, quit my cushy job in India, and decided to see the world on my own terms. No more stuffy meetings or rigid schedules just me, my backpack, and an open road ahead</p>
  <p>This blog captures my travel adventures, tech explorations, and random thoughts.</p>
  <p>This blog is where I'll be documenting my travels, sharing my experiences, and hopefully inspiring others to follow their wanderlust. From trekking through remote villages to savoring local cuisines, I'm on a mission to immerse myself in different cultures and create memories that will last a lifetime.<br><br>

But this journey isn't just about checking off destinations from a bucket list. It's about self-discovery, personal growth, and finding the courage to live life on my own terms. I'll be honest and raw, sharing the highs and lows, the moments of pure bliss and the inevitable challenges that come with solo travel.<br><br>

So join me on this adventure, and let's explore the world together! Who knows, maybe my stories will inspire you to take that leap of faith and pursue your own dreams, whatever they may be.<br><br>

Let's go on an adventure!<br><br>

  <p>Feel free to connect or drop me a message on the <a href="{{ url_for('contact') }}">Contact</a> page.</p><br>
Love,<br><br>

Gowtham Siddharth</p>

{% endblock %}
